<div class="box-widget-item fl-wrap block_box" style="margin: 50px 0">
  <div class="box-widget-item-header" style="border: none">
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
  </div>
  <div class="box-widget opening-hours fl-wrap">
    <div class="box-widget-content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse nostrum
        quam aperiam veniam id voluptatum neque doloribus odio nisi? Labore,
        perferendis illum atque nesciunt natus illo numquam? Consectetur, quod
        voluptates?
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <div
        class="buttons-inline-cta-list primary-color-background-gradient"
        style="margin-bottom: 20px"
      >
        <a
          class="button"
          role="button"
          id="mutuelle"
          style="color: #fff"
          href="#"
          target="_blank"
          rel="noopener"
          >Lorem</a
        >
      </div>
    </div>
  </div>
</div>
