<header class="site-header">
  <div class="wrapper-header site-header__wrapper">
    <a href="/" class="logo-holder"
      ><img src="/images/marker2.png" alt="logo site"
    /></a>
    <nav class="nav">
      <div class="nav__toggle" aria-expanded="false" type="button">
        <i
          style="color: #fff; font-size: 24px; margin-top: 4px"
          class="fas fa-bars"
        ></i>
      </div>
      <ul class="nav__wrapper">
        <li class="nav__item"><a href="/">Accueil</a></li>
        <li class="nav__item"><a href="/blog/">Blog</a></li>
        <li class="nav__item">
          <a href="/mutuelle/">Mutuelle</a>
        </li>
        <li class="nav__item"><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<script src="/js/navbar.js" crossorigin="anonymous"></script>
