<div id="text-home" style="margin-bottom:50px" class="section-text-desc">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta asperiores error odio, reprehenderit explicabo numquam natus voluptatem accusamus qui in, vero pariatur? Amet quod, error pariatur laborum fuga commodi eligendi.</p>

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta asperiores error odio, reprehenderit explicabo numquam natus voluptatem accusamus qui in, vero pariatur? Amet quod, error pariatur laborum fuga commodi eligendi.</p>

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta asperiores error odio, reprehenderit explicabo numquam natus voluptatem accusamus qui in, vero pariatur? Amet quod, error pariatur laborum fuga commodi eligendi.</p>

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta asperiores error odio, reprehenderit explicabo numquam natus voluptatem accusamus qui in, vero pariatur? Amet quod, error pariatur laborum fuga commodi eligendi.</p>
  </div>        
</div>