<!-- header -->
<div id="header">
  <div class="overlay"></div>
  <div class="headerContent">
    <h1>Contact</h1>
  </div>
</div>
<!-- end header -->
<!-- breadcrumb -->
<section id="breadcrumb-top" class="no-top-padding">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
      </ol>
    </nav>
  </div>
</section>
<!-- end breadcrumb -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ab_text-title fl-wrap">
          <h3>Laissez nous un message</h3>
          <span class="section-separator fl-sec-sep"></span>
        </div>
        <p style="margin: auto; margin-bottom: 50px; font-weight: bold">
          📧 chris@h2hstudioweb.com
        </p>
      </div>
      <div style="margin: 30px 0"></div>
      <!-- banner -->
      <%if(isBannerDisplayed){%> <%- include partials/banner.ejs %> <%}%>
      <!-- end banner -->
    </div>
  </div>
</div>
