<!-- header -->
<div id="header">
  <div class="overlay"></div>
  <div class="headerContent">
    <h1>404</h1>
  </div>
</div>
<!-- end header -->
<!-- breadcrumb -->
<section id="breadcrumb-top" class="no-top-padding">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Erreur</li>
      </ol>
    </nav>
  </div>
</section>
<!-- end breadcrumb -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Erreur</h2>
      </div>
      <p style="text-align: center; margin: auto">
        Désolé, la page que vous recherchez n'existe pas.
      </p>
      <div class="clearfix"></div>
      <div class="col-12" style="width: 100%; margin-top: 20px">
        <button
          onclick="location.href='/'"
          class="btn dec_btn color2-bg color2-text"
        >
          Retour à la page d'accueil<i class="fa fa-home"></i>
        </button>
      </div>
      <div style="margin: 30px 0"></div>
      <!-- banner mutuelle -->
      <%if(isBannerDisplayed){%> <%- include partials/banner.ejs %> <%}%>
      <!-- FIN banner mutuelle -->
    </div>
  </div>
</div>
